.tile-container {
  position: relative;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 24px;
  padding: 24px;
}

.tile-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tile-date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.fa-calendar {
  margin-right: 0.5rem;
}

.fa-trash {
  cursor: pointer;
  color: red;
}

.tile-form {
  display: flex;
  flex-direction: column;
}

.tile-input {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
}

.form-error {
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.edit-container {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.edit-input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 8px 0 0 8px;
}

.btn-edit {
  border-radius: 8px;
  font-size: 12px;
}

/* portrait phones */
@media screen and (max-width: 576px) {
  .btn-delete {
    font-size: 18px;
  }

  .btn-edit {
    width: initial;
  }
}
