@import url("https://fonts.googleapis.com/css2?family=Montserrat");

textarea {
  resize: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #233143;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.list-container {
  flex-grow: 1;
  background-color: #eeeeee;
  overflow-y: auto;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 8px 0;
}

/* landscape phones and tablets */
@media screen and (max-width: 968px) {
  #main {
    flex-direction: column;
  }
}

/* portrait phones */
@media screen and (max-width: 576px) {
  #app {
    font-size: 14px;
  }

  #main {
    flex-direction: column-reverse;
  }

  #footer {
    font-size: 10px;
  }
}
