#nav {
  background-color: rgba(0, 0, 0, 0.32);
  color: #ffffff;
  padding: 20px 24px;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

/* portrait phones */
@media screen and (max-width: 576px) {
  #nav {
    padding: 12px 18px;
  }
}
